* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    background-color: black;
}

#navigation {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    background-color: #2B7772;
    padding: 14px;
    color: white;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Voltaire', sans-serif;
}

#diamond-one, #diamond-three {
    font-size: 30px;
    color: #E4551E;
}

#diamond-two {
    color: #E8CE9E;
    font-size: 30px;
}

#navigation a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

#navigation a:visited {
    color: white;
}
