* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    background-color: black;
}

#navigation {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #881E1D;
    border-bottom: 2px solid white;
    padding: 14px;
    color: white;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Voltaire', sans-serif;
    height: 100px;
}

#diamond-one, #diamond-three {
    font-size: 30px;
    color: #AC3734;
}

#diamond-two {
    color: #E8CE9E;
    font-size: 30px;
}

#navigation a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

#navigation a:visited {
    color: white;
}

#word {
    width: 300px;
}

#logo {
    height: 300px;
    margin-top: 80px;
}

#bottom-nav-container {
    background-color: tan;
    height: 80px;
}




/* mobile styling*/
@media only screen and (max-width: 600px) {
    body {
        background-color: red;
    }
}